{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Events</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    {% block css_files %}

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'event/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'event/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'event/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'event/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'event/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'event/vendor/aos/aos.css' %}" rel="stylesheet ">

    <!-- Template Main CSS File -->
    <link href="{% static 'event/css/main.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% include 'partials/_header.html' %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
             style="background-image: url({% static 'event/img/create-event.jpg' %});">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Events</h2>
                        <p>ALL EVENTS</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Events</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Featured Services Section ======= -->
    <!-- ======= Services Section =======
    <section id="service" class="services pt-0">
        <div class="container" data-aos="fade-out-up">

            <div class="section-header">
                <span>Upcoming Events</span>
                <h2>Upcoming Events</h2>

            </div>-->
    <section class="restaurant-cards">
        <div class="container mt-1">
            <div class="row">
                {% for event in events %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="event-detail.html">
                            <img src="{{ event.image.url }}" alt="Restaurant Image" class="card-img-top">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ event.name }}</h5>
                            <div class="rating">
                                <span class="stars">★★★★☆</span>
                                <span class="num-reviews">(413)</span>
                            </div>
                            <p class="card-text">{{ event.event_date }}</p>
                            <p class="card-text description">{{ event.description }}</p>
                            <h6 class="availability-title">{{ event.date }}</h6>
                            <a href="a.html" class="btn btn-primary mt-auto">Join</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!--       <div class="row gy-4">
               {% for event in events %}
               <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-out-up">
                   <div class="card h-100 rounded">
                       <a href="event-details.html">
                           <div class="card-img">
                               <div class="date-overlay">{{ event.date }}</div>
                               <img src="{{ event.image.url }}"
                                    class="img-fluid">
                           </div>
                       </a>
                       <div class="card-body">
                           <h3 class="card-title">
                               <a href="event-details.html">{{ event.name }}</a>
                           </h3>
                           <p class="card-text">{{ event.description }}</p>
                           <p class="card-text mb-0">Event Date: {{ event.event_date }}</p>
                       </div>
                       <div class="card-footer d-flex justify-content-between align-items-center">
                           <div></div>
                           <div class="btn-group">
                               <button type="button" class="btn btn-sm btn-outline-secondary ms-auto">Learn More
                               </button>
                               <button type="button" class="btn btn-sm btn-outline-secondary">Join</button>
                           </div>
                       </div>
                   </div>
               </div>< !-- End Card Item
               {% endfor %}
           </div>-->
    </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% include 'partials/_footer.html' %}
<!-- End Footer -->

</body>

</html>