{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>EventCrafter</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    {% block css_files %}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'event/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'event/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'event/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'event/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'event/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'event/vendor/aos/aos.css' %}" rel="stylesheet ">

    <!-- Template Main CSS File -->
    <link href="{% static 'event/css/main.css' %}" rel="stylesheet">
    {% endblock %}
</head>

<body>

{% include 'partials/_header.html' %}
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center"
         style="background-image: url({% static 'event/img/marathon.jpg' %});">
    <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h2 data-aos="fade-up">Create, participate and enjoy your events!</h2>
                <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up"
                      data-aos-delay="200">
                    <input type="text" id="search-box" class="form-control" placeholder="Find Event">
                    <ul id="search-box-results"></ul>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

                <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="{{ event_count }}" data-purecounter-duration="1"
                      class="purecounter"></span>
                            <p>Active Event</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1"
                      class="purecounter"></span>
                            <p>Completed</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="{{ participant_count }}"
                      data-purecounter-duration="1"
                      class="purecounter"></span>
                            <p>Participants</p>
                        </div>
                    </div><!-- End Stats Item -->

                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                    <div class="icon flex-shrink-0"><i class="fa fa-bullhorn"></i></div>
                    <div>
                        <h4 class="title">Discover & Join</h4>
                        <p class="description">Exciting Events Await!</p>
                    </div>
                </div>
                <!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon flex-shrink-0"><i class="fa fa-users"></i></div>
                    <div>
                        <h4 class="title">Together</h4>
                        <p class="description">Meet the participants, have fun.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon flex-shrink-0"><i class="fa fa-plus-square"></i></div>
                    <div>
                        <h4 class="title">Adopt an Active Lifestyle</h4>
                        <p class="description">Stay Vibrant</p>
                    </div>
                </div><!-- End Service Item -->
            </div>
        </div>
    </section><!-- End Featured Services Section -->


    <!-- ======= card Section ======= -->
    <section class="cards">
        <div class="container mt-1">
            <div class="row">
                {% for event in events %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'event-detail' event.slug %}">
                            {% if event.image %}
                            <img src="{{ event.image.url }}" class="card-img-top">
                            {% else %}
                            <div style="background-color: white; width: 100%; height: 200px;"></div>
                            {% endif %} </a>
                        <div class="card-body d-flex flex-column">
                            <a href="{% url 'event-detail' event.slug %}">
                                <h5 class="card-title">{{ event.name }}</h5>
                            </a>
                            <div class="rating">
                                <span class="stars">★★★★☆</span>
                                <span class="num-reviews">(413)</span>
                            </div>
                            <p class="card-text">{{ event.event_date }}</p>
                            <p class="card-text description">{{ event.description|striptags|slice:"0:100" }}...</p>
                            <h6 class="availability-title">{{ event.date }}</h6>
                            <a href="{% url 'event-detail' event.slug %}" class="btn btn-primary mt-auto">More
                                Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

                <div class="col-md-5">
                    <img src="{% static 'event/img/features-1.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-md-7">
                    <h3>Creating Events</h3>
                    <p class="fst-italic">Marathon-based events offer unique opportunities to bring communities together
                        and provide exhilarating experiences. Our website allows users to easily create their own
                        marathon events. Users can follow step-by-step instructions to plan their events, determine
                        routes, and prepare exciting experiences for participants. With customizable options, we provide
                        a platform suitable for all types of marathon events. Creating an event has never been
                        easier!</p>
                    <ul>
                        <li><i class="bi bi-check"></i> Join</li>
                        <li><i class="bi bi-check"></i> Socialize</li>
                        <li><i class="bi bi-check"></i> Have Fun</li>
                    </ul>
                </div>
            </div><!-- Features Item -->

            <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="{% static 'event/img/features-2.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 order-2 order-md-1">
                    <h3>Participating in Events</h3>
                    <p class="fst-italic">
                        Our website serves as a bridge for marathon enthusiasts to participate in events and experience
                        thrilling moments. Users can choose from a wide range of events and join the ones that best
                        match their interests. With real-time updates and interactive maps, participants can easily view
                        event details and select the most suitable ones for themselves. Participating in events is an
                        excellent opportunity to gain new experiences and connect with the community.
                    </p>
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
            </div><!-- Features Item -->

            <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="{% static 'event/img/features-3.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-md-7">
                    <h3>Socializing and Making Connections:</h3>
                    <p>Our website encourages marathon enthusiasts to come together, socialize, and make new
                        connections. Comment sections and interactive chats on event pages allow participants to
                        communicate with each other. Additionally, through user profiles, it's easy to find people with
                        similar interests and establish partnerships for running together at events. For marathon
                        enthusiasts, this platform offers not only the opportunity to engage in sports but also to
                        socialize together and form new friendships.</p>
                </div>
            </div><!-- Features Item -->
        </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    {% include 'partials/_testimonials.html' %}
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% include 'partials/_footer.html' %}
<!-- End Footer -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#search-box').keyup(function(){
            $.ajax({
                type: "GET",
                url: "{% url 'autocomplete' %}",
                data: {
                    'term': $('#search-box').val()
                },
                success: function(data){
                    $('#search-box-results').empty();
                    $.each(data, function(index, event){
                        $('#search-box-results').append('<li><a href="/events/' + event.slug + '">' + event.name + '</a></li>');
                    });
                }
            });
        });
    });
</script>
</body>

</html>