{% load static %}

<div class="col">
    <div class="card shadow-sm">
        <a href="{% url 'single-event' event.slug %}">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                 aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <image href="{{ event.image.url }}" width="100%" height="100%"/>
            </svg>
        </a>

        <div class="card-body">
            <p class="card-text">{{ event.name }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'single-event' event.slug %}" class="btn btn-sm btn-outline-secondary">View</a>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Join</button>
                </div>
                <small class="text-muted">Date</small>
            </div>
        </div>
    </div>
</div>