{% load static %}
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span>EventCrafter</span>
                </a>
                <p>Socialize at its Best: Enrich Your Life with Our Events!</p>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About us</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>


            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    A108 Adam Street <br>
                    New York,<br>
                    United States <br><br>
                    <strong>Phone:</strong> +1 2345 56789 12<br>
                    <strong>Email:</strong> info@eventcrafter.com<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Eventcrafter</span></strong>. All Rights Reserved
        </div>
    </div>

</footer><!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>
{% block js_files %}
<!-- Vendor JS Files -->
<script src="{% static 'event/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'event/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'event/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'event/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'event/vendor/aos/aos.js' %}"></script>
<script src="{% static 'event/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'event/js/main.js' %}"></script>
{% endblock %}