<!-- ======= Header ======= -->
{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="{% url 'index' %}" class="logo d-flex align-items-center">
            <h1>EventCrafter</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'index' %}" class="active">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                {% if request.user.is_authenticated %}
                <li><a class="get-a-quote" href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </nav><!-- .navbar -->

    </div>
</header>