<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
     <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">EventCrafter</a>
          <ul class="navbar-nav me-auto">
               <li class="nav-item">
                    <a class="nav-link" href="{% url 'events' %}">Events</a>
               </li>
               <li class="nav-item">
                   <a class="nav-item nav-link disabled" href="#">Disabled</a>
               </li>
          </ul>
     </div>
</nav>
